* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

:root {
  --my-blue: rgb(43, 156, 212);
  --my-red: rgb(212, 100, 100);
  --my-orange: rgb(249, 182, 118);
  --my-green: rgb(43, 212, 156);
}

h1 {
  text-align: center;
  margin: 2vh 0;
}

canvas {
  position: absolute;
  display: block;
  /*border: 1px black solid;*/
  height: auto;
}

#container {
  width: 100vw;
  height: 100vh;
  margin: 0vh auto;
  overflow: hidden;
}

.output {
  display: block;
  margin: 20px auto;
  border: 1px rgb(232, 232, 232) solid;
}

input {
  text-align: right;
  font-family: Menlo;
  font-size: 5em;
  max-width: 20vw;
}

@media screen and (max-width: 980px) {
  h1,
  input {
    font-size: 6em;
  }

  input {
    max-width: 50vw;
    width: 50vw;
    margin: 0;
  }
}

.touchFixedDistanceContainer {
  position: relative;
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.touchFixedDistanceContainer canvas {
  position: absolute;
}
